<!-- list-products.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List Products</title>
</head>
<body>
    <h1>List Products</h1>
    <ul>
        <% products.forEach(product => { %>
            <li>
                <%= product.name %> - <%= product.price %> 
                <form action="/delete-product/<%= product._id %>" method="POST">
                    <button type="button" class="btn btn-outline-secondary" style="width: 100px; margin-left: 5px;" onclick="confirmDelete()">Delete</button>                </form>
            </li>
        <% }); %>
    </ul>
</body>


</html>
